{{define "Title"}}Tasktop{{end}}
{{define "Head"}}{{end}}
{{define "Content"}}

<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">

    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/images/kk.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-caption d-none d-md-block">
            <h2>Finish your plans with Tasktop</h2>
            <button type="button" class="btn btn-light">SIGN UP</button>
        </div>
    </div>

</div>

{{end}}
