@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Story+Script&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #ecfeff;
}
header{
    width: 100vw;
    height: 44rem;
    width: 100vw;
    background-image: url("/static/images/PM.jpg");
    background-size: cover;
    background-position: center 70%;
}
header h2{
    font-family: "Comic Relief", system-ui;
    font-weight: 700;
    font-style: normal;
    word-spacing: -.4rem;
    text-align: center;
    margin: 13rem 0 0 0;
    background: linear-gradient(90deg, #fbf2d1, white);
    background-clip: text;
    color: transparent;
    font-size: 4rem;
}

.stroke{
    margin: -2rem 0 0 0;
    color: #b9c7ff;
    font-weight: bold;
    font-size: 2.8rem;
    letter-spacing: -.4rem;
}
.logo-container{
    display: flex;
    align-items: center;
}
.logo-container img{
    width: 4.5rem;
}
.menu-container{
    padding: 0 3% 0 3%;
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.5);
}
.menu-container h1{
    background: linear-gradient(90deg, #5046e5, #1d1772);
    background-clip: text;
    color: transparent;
    font-size: 2rem;
    
}
.menu{
    display: flex;
    gap: 2rem;
}
.menu-items a{
    font-size: 1.1rem;
    color: #1d1772;
}

.desc-sec{
    text-align: center;
    padding: 2% 0 0 0;
    height: 31rem;
}
.desc-sec h2{
    font-size: 2.8rem;
    background: linear-gradient(90deg, #5046e5, #1d1772);
    background-clip: text;
    color: transparent;
}
.desc-vector{
    filter: drop-shadow(0 0 15px #5146e539);
    width: 19rem;
    height: 16rem;
}
.desc-sec .content-container{
    padding: 0 11% 0 9%;
    display: flex;
    justify-content: space-between;

}
.desc-sec .items-container{
    padding: 2rem;
    border-radius: 1.3rem;
}
.desc-sec .items{
    font-family: "Comic Relief", system-ui;
    font-weight: 700;
    margin: 1rem 0 0 0;
    text-align: left;
    color: rgb(87, 87, 87);
    font-size: 1.6rem;
}
.desc-sec .items span{
    color: #5046e5;
    font-weight: bold;
}
.features-sec{
    height: 30rem;
    background-color: #fbf2d1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.features-sec .items-container{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.features-sec .items-container .items{
    padding: 1rem   ;
    border-radius: 1.2rem;
    height: 17rem;
    width: 15rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.features-sec .items-container .items p{
    width: 12rem;
}
.ai-item img{
    width: 9rem;
}
.note-item img{
    width: 8rem;
}
.prgrss-item img{
    width: 9rem;
}
